.profile__add-button {
  position: relative;
  padding: 12px 62px;
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

@media screen and (max-width: 662px) {
  .profile__add-button {
    width: 100%;
    padding: 15px 131px;
    margin-top: 36px;
  }
}



