.popup__job-input-error {
  position: absolute;
  bottom: 34%;
  left: 1px;
}

/*@media screen and (max-width: 562px) {
  .popup__job-input-error {
    top: 211px;
  }
}

@media screen and (max-width: 490px) {
  .popup__job-input-error {
    top: 188px;
  }
}*/